body {
    background-color: antiquewhite;
    background-image: url('background.webp');
    background-size: 500vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro {
    background: #e2e2f9;
    width: 600px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: rgb(5, 84, 255);
}
button {
    color: rgb(5, 84, 255);
    border-radius: 5px;
}
.button home-button {
    color: rgb(7, 7, 234);
}
